body {
  background-color: #ff6f69;
}

h1, h2{
	display: block;
	background-color: #fb2e01;
    width: 100%;
}

footer {
  display: block;
  background-color: #fb2e01;
    width: 100%;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  
  list-style: none;
  margin: 0; 
  background: #88d8b0;
}

.nav a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  background: #88d8b0;
}

@media all and (max-width: 800px) {
  .nav {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .nav {
    flex-flow: column wrap;
    padding: 0;
  }
  .nav a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .nav li:last-of-type a {
    border-bottom: none;
  }
}


.gen_box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.gen {
  background: #ffcc5c;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}